/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales */
body {
  font-family: 'Roboto', sans-serif; /* Cambio de tipo de letra */
  line-height: 1.6;
  background-color: #4e7cff; /* Cambio de la paleta de colores a tonos más fríos */
  color: #fff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Estilos del encabezado */
header {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px 0;
  margin-bottom: 30px;
  text-align: center;
}

.logo img {
  max-width: 150px;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-left: 20px;
  position: relative;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s;
  padding: 10px 20px;
  border-radius: 30px;
  position: relative;
}

nav ul li a:hover {
  color: #00bcd4;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Estilos de las secciones del encabezado */
nav ul li a::before {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 2px;
  background-color: #00bcd4;
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0 0 10px rgba(0, 188, 212, 0.5); /* Añadimos una sombra */
}

nav ul li a:hover::before {
  transform: translateY(-5px) translateX(-50%);
}

/* Estilos del campo de búsqueda */
.busqueda {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.busqueda form {
  position: relative;
}

.busqueda input[type="text"] {
  padding: 12px 30px;
  border: none;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 1.2em;
  width: 300px;
}

.busqueda input[type="text"]::placeholder {
  color: #ccc;
}

.busqueda button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.busqueda button i {
  color: #fff;
  font-size: 1.5em;
}

/* Estilos de los botones debajo de la barra de búsqueda */
.acciones {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.acciones button {
  background-color: #00bcd4; /* Color azul */
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.acciones button:last-child {
  background-color: #4f9dff; /* Color azul más claro para el último botón */
}

.acciones button:hover {
  background-color: #00acc1; /* Color azul más oscuro al pasar el ratón */
  transform: scale(1.05);
}

/* Estilos del contenido principal */
main {
  padding: 20px;
}

.titulo h2 {
  font-size: 3em;
  margin-bottom: 30px;
  color: #fff;
}

.informacion p {
  font-size: 1.2em;
  line-height: 1.8;
}

.botones {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.botones button {
  background-color: #00bcd4; /* Color azul */
  color: #fff;
  border: none;
  padding: 15px 30px;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.botones button:hover {
  background-color: #00acc1; /* Color azul más oscuro al pasar el ratón */
  transform: scale(1.05);
}

/* Estilos del pie de página */
footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 20px;
  text-align: center;
}

  